<%- include("./partials/header.ejs") %>

<form action="/materials/<%=material.id%>?_method=PUT" method="POST">
    Type: <input type="text" name="type" value="<%=material.type%>"/><br/>
    Name: <input type="text" name="name" value="<%=material.name%>"/><br/>
   Location: <input type="text" name="location" value="<%=material.location%>"/><br/>
    Info: <input type="text" name="info" value="<%=material.info%>"/><br/>
    <input type="submit" name="" value="Submit Changes"/>
    
</form>
</body>
</html>