<%- include("./partials/header.ejs") %>

<form action="/equipment/<%=equipment.id%>?_method=PUT" method="POST">
    <label for="type">Type:</label>
    <input type="text" name="type" value="<%=equipment.type%>"/><br/>
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%=equipment.name%>"/><br/>
    <label for="location">Location:</label>
    <input type="text" name="location" value="<%=equipment.location%>"/><br/>
    <label for="info">Info:</label>
    <input type="text" name="info" value="<%=equipment.info%>"/><br/>
    <input type="submit" name="" value="Submit Changes"/>
    
    
</form>
</body>
</html>