<%- include("./partials/header.ejs") %>


    <h3><%= equipment.name %></h3>
    
    <p> <%= equipment.info %></p>
    <p>LOCATION:<%= equipment.location %></p>
    <a href="/equipment/<%=equipment%>/editequipment">Edit</a>
</body>
</html>