<%- include("./partials/header.ejs") %>


    <h3><%= monsters.species %></h3>
    
    <p> <%= monsters.info %></p>
    <p>LOCATION:<%= monsters.location %></p>
    <a href="/monsters/<%="id"%>/editmons.ejs">Edit</a>
</body>
</html>